<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>obsession.org</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div>
        <header>
            <h1><a href="../">obsessions.blog</a></h1>
            <h2>A blog to capture obsessions in text form.</h2>
            <marquee direction="left" height="1rem" scrollamount="6">
                Please, do not seek this site for factual information. All of this is opinionated beyond belief.
            </marquee>
        </header>
        <aside id="left">
            <h6>News</h6>
        </aside>
        <main>
            <div class="article">
                <h3>
                    Sample Text
                </h3>
                    <br>
                    <img src="../img/GNU_Linux.png">
                    <br>
                <h4>
                    Sample Text
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, doloremque consectetur illo quia molestias eveniet minima! Nobis voluptatibus assumenda dignissimos enim commodi, voluptas ex corporis ut accusantium rerum ad, eaque, nam quisquam iure alias dolor tenetur nisi dolores culpa? Nostrum modi ad, impedit voluptatem alias autem tenetur architecto cum sed eaque doloremque minima provident tempore dolor est aperiam corporis sit voluptates aut molestiae possimus unde. Architecto temporibus dicta rem modi alias ipsam dolores doloribus officia recusandae quidem tenetur delectus totam aspernatur exercitationem, ut autem facere quisquam blanditiis molestiae placeat ducimus a enim earum debitis. Veritatis sequi saepe, itaque iste assumenda odit quibusdam esse ut nemo in impedit libero natus ratione, sit molestiae asperiores optio incidunt voluptates cum a molestias nulla. Totam incidunt iste nesciunt inventore?
                </p>
                <span>Last edited: 18-09-23</span>
            </div>
        </main>
        <aside id="right">
            <h6>Important Info</h6>
        </aside>
        <footer>
            <p>
                Enjoying this site? Send an email to <a href="mailto:cuteskyler@420blaze.it">cuteskyler@420blaze.it</a> to let us know.
            </p>
        </footer>
    </div>
    <script>document.title = document.querySelector('h3').innerHTML;</script>
    <script src="../bg.js"></script>
    <style>
        main{
            display: block;
        }

        h3{
            text-align: left;
            padding: 1rem;
            font-size: 3rem;
        }

        h4{
            text-align: left;
            padding: 1rem;
            padding-bottom: 0;
            font-size: 2rem;
        }
    </style>
</body>
</html>